/* RESET */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Open Sans', sans-serif;
}


/* flex */

.flex{
    display: flex;
    justify-content: center;
    align-items: center;
}

.space-around{
    justify-content: space-around;
}

.jc-left{
    justify-content: left;
}

.jc-right{
    justify-content: right;
}

.wrap{
    flex-wrap: wrap;
}

.space-between{
    justify-content: space-between;
}

.flex-start{
    justify-content: flex-start;
    margin-left: 8rem;
    margin-bottom: 5rem;
}

/* tag */
section{
    border: 1px solid black;
    /* DA TENERE */
}


ul{
    list-style: none;
}


button{
    background-color: rgb(0, 97, 255);
    color: white;
    padding: 0.5rem;
    border: 1px solid rgb(0, 97, 255);
}

h1{
    font-size: 60px;
    margin: 6rem 5rem 0 10rem;
}

h2{
    padding: 2rem;
    font-size: xx-large;
}


label{
    font-size: 10px;
    vertical-align: 2.7px;
}

/* dimensioni */

.smaller-jumbo{
    width: 85%;
}

.container{
    width: 100%;
}


.smaller-container{
    width: 70%;
}


.larger-box{
    width: 100%;
    height: 160px;
    margin-top: 2rem;
    margin-bottom: 2rem;

}

.larger-box-ht{
    width: 100%;
    height: 350px;
    margin-top: 2rem;
    margin-bottom: 2rem;
    border: none;
}

.boxes{
    width: calc(100% / 3);
    border: 1px solid black;
    height: 775px;
}

.boxes-ht{
    width: calc(100% / 3);
    height: 510px;  
}


.width-60{
    width: 60%;
    border: 1px solid black;
    height: 160px;
}

.width-40{
    width: 40%;
    border: 1px solid black;
    height: 160px;
}

.width-40-no-ht{
    width: 40%;
}

.width-50{
    width: 50%;
}


.height-40{
    height: 100px;
}

.client{
    width: calc(100% / 3);
    height: 200px;
    border: 1px solid black;

}


.four-square{
    width: calc(100% / 2);
    height: 100px;
    border: 10px solid black;
    /* CAMBIO BORDO DA QUI */

}

.width-5{
    width: calc(100% / 5);
    border: 1px solid white;
    height: 50px;

}

.left{
    width: 50%;
}

.right{
    width: 50%;
}

footer{
    height: 200px;
    background-color: black;
}

/* classi */

.jumbo{
    background-color: rgb(180, 208, 231);
}


.upper-header{
    background-color: white;
}


.img-jumbo{
    width: 680px;
    position: relative;
    top: 46px;
}


.img{
    height: 100px;
    width: 60%;
}

.img-contain{
    width: 400px;
}

.img-boxes{
    object-fit: contain;
    width: 100%;
}

.img-4{
    object-fit: contain;
    width: 50%;
    filter: invert(100%);
}


/* colori sfondo logo */

.characteristic-logo{
    background-color:rgb(209, 233, 205) ;
}

.characteristic-logo-asu{
    background-color: rgb(97, 8, 43);
}

.characteristic-logo-uf{
    background-color: rgb(0, 147, 206);
}

.characteristic-logo-topps{
    background-color:rgb(255, 28, 28);
}



.no-border{
    border: none;
}


.border{
    border-bottom: 1px solid black;
}

.border-top{
    border-top: 1px solid black;
    padding: 1rem 2rem 1rem 0;
}



/* details boxes */

.title-box{
    border: 1px solid black;
    text-align: center;
}

.text-centered{
    text-align: center;
}

.small-boder{
    width: 20%;
    border-bottom: 1px solid grey;
    display: inline-flex;
    margin-left: 1rem;
}

.color-white{
    background-color: white;
    color: black;
    border: 1px solid black;
    padding: 0.5rem;
}

.text-purple{
    color: rgb(97, 8, 43);
}


/* margin-padding */

li,
.logo,
.jumbo
{
    padding: 1.5rem;
}

.margin-header{
    margin: 1.5rem;
}

.fa-arrow-down{
    padding-top: 2rem;
    font-size: 40px;

}

.margin-left{
    margin-left: 1rem;
}

.padding-1rem,
.padding-top-1rem{
    padding-top: 1rem;
}

.margin-top{
    margin-top: 1rem;
}


.margin-l-jumbo{
    margin-left:9rem;
}

.mg-top{
    /* padding: 7rem 3rem 1rem 3rem; */
    padding: 3rem 3rem 3rem;
}

.space{
    margin: 0 2rem 2rem 2rem ;
}

.padding-boxes{
    padding: 2rem 1rem 0;

}

.s-padding-boxes{
    padding: 0.5rem 1rem 0;
    font-size: 13px;

}

.margin-bt{
    margin: 1.5rem 0 0 1rem;
}

.m-bt-3{
    margin-bottom: 3rem;
}
